@charset "utf-8";
/* CSS Document */
a:link {
	color:#333;
	text-decoration:none;
}
a:visited {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#FF3333;
	text-decoration:none;
}
body{
font-size:12px;
color:#333333;
}
.mainDiv
{
	width:800px;
	text-align:left;
	margin:auto;
}
.leftDiv
{
	width:395px;
	float:left;
	clear:left;
	overflow:hidden;
	border:2px solid #eee;
}
.rightDiv
{
	width:395px;
	float:right;
	clear:right;
	overflow:hidden;
	border:2px solid #eee;
}
.upperLeft
{
	width:395px;
	float:left;
	clear:left;
	overflow:hidden;
	border:2px solid #eee;
}
.upperRight
{
	width:395px;
	float:right;
	clear:right;
	overflow:hidden;
	border:2px solid #eee;
}
.hDiv
{
	height:30px;
}
.tbox
{
	width:100px;
}
.lbl
{
	width:90px;
	text-align:right;
}
.myli
{
	list-style-type:none;
	padding-left:0px;
	margin:0px;
	text-align:left;
	width:60px;
}
.searchDiv
{
	height:150px;
	border:2px solid #eee;
}
#GridView1
{
	border:solid 3px #eee;
}
#GridView1 tr
{
	background-color:#eee;
	height:20px;
	border:solid 1px #333 ;
}
#GridView1 th
{
	background-color:#e1e1e1;
	height:20px;
	border:solid 1px #333 ;
	color:Black;
}
#GridView1 td
{
	height:20px;
	border:solid 1px #333 ;
}
.highLight
{
	background-color:Yellow;
}